.list, .darklist {
  position: absolute;   /* aligns with sidebar/cards */
  top: 2%;
  left: 18.8%;            /* when sidebar is expanded */
  right: 4.2%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: rgb(50, 50, 50); 
  transition: all 0.3s ease;   /* smooth animation */
  border: none;         /* remove border */
  outline: none;        /* remove blue outline */
  padding: 0 10px;      /* optional: add inner space */
  font-size: 16px;      /* make it readable */
  border-radius: 6px;   /* optional: smooth corners */
}

.darklist {
  background-color: #333;
  color: white;
  border: none;
  outline: none; 
}

/* when collapsed */
.list.expanded, .darklist.expanded {
  left: 73px;   /* smoothly animates to here */
}

.dropDown{  position: absolute;   /* aligns with sidebar/cards */

   background-color: red;
   color:aquamarine;
     transition: all 0.3s ease;   /* smooth animation */
   top: 8.5%;
  left: 18.8%;            /* when sidebar is expanded */
  right: 4.2%;
}

.add-note{
  margin-left: 1430px;
  margin-top: 70px;
  font-size: 30px;
  font-weight: bold;
  color:white;
  background: none;
  border: none;
}