.taskListArea {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom:35px;
}

.listContainer{
  width: 94%;
}


.list, .darklist {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: bold;
  background-color: rgb(50, 50, 50);
  transition: all 0.3s ease;
  border: none;
  outline: none;
  padding: 0 60px 0 15px; /* right padding for button space */
  font-size: 16px;
  border-radius: 6px;
  color: white;
}

.darklist {
  background-color: #333;
  color: black;
}

.list {
  background-color: lightgray;
  color: white;
}

.remove-note {
  position: absolute;
  right: 10px;
  top:2%;
  font-size: 30px;
  font-weight: bold;
  color: red;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: transform 0.2s;
}

.remove-note:hover {
  transform: scale(1.2);
}

.add-note,
.dark-addNote {
  position: absolute;
  right: 10px;
  top:45px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: transform 0.2s;
}

.dark-addNote{
  color:white;
}

.add-note:hover,
.dark-addNote:hover {
  transform: scale(1.2);
}

.dropDown {
  position: absolute;
  background-color: red;
  color: aquamarine;
  transition: all 0.3s ease;
  top: 8.5%;
  left: 18.8%;
  right: 4.2%;
}
